.td {
  font-size: 18px;
  padding: 20px 0;
  text-align: center;
  font-family: 'Jost', sans-serif;
  border-bottom: 1px solid #D2D0D0;
  color: #3C3A39;
  margin-top: 10px;
  &.tdDark {
    color: #D2D0D0;
  }
}