@import "../../../../variables";

.wrapper {
  margin: 0 0 0 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  background: $color-bg;
  width: 100%;

  @media screen and (max-width: $mobile) {
    margin: 0 0 0 100px;
    padding: 0;
  }
}

.wrapperDark {
  margin: 0 0 0 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  background: $color-bg-dark;
  width: 100%;
}

.tableWrapper {
  height: 700px;
  overflow: auto;
}

.tableTask {
  margin-top: 20px;
  width: 1700px;
  border-collapse: collapse;

  @media (max-width: $laptop-l) {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $desktop) {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $tablet) {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $mobile) {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $mobile-l) {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    margin-top: 110px;
  }
}

.theadTask {
  height: 50px;
  color: $color-grey-light;
  border-bottom: 1px solid $color-grey;
}

.trTask {
  font-family: $font-furore;
  font-size: 20px;
  letter-spacing: -0.01em;
  font-weight: 200;
  border-bottom: 1px solid $color-grey;

  @media (max-width: $mobile-l) {
    font-size: 14px;
    line-height: 1.4;
  }

  @media (max-width: $mobile-m) {
    font-size: 12px;
  }
}

.filters {
  margin-top: 20px;

  @media (max-width: $mobile-l) {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    flex-direction: row;
    top: 210px;
    right: -50px;
  }
}

.searchTask {
  position: absolute;
  width: 400px;
  height: 30px;
  border: 1px solid $color-grey;
  background: $color-bg;
  padding: 8px 10px;
  margin-left: 1275px;

  font-family: $font-jost;
  font-size: 18px;
  color: $color-grey-dark;

  &.searchTaskDark {
    background-color: $color-bg-dark;
    color: $color-grey;
  }

  @media (max-width: $laptop-l) {
    width: 300px;
    margin-left: 500px;
    margin-top: 110px;
  }

  @media (max-width: $desktop) {
    width: 250px;
    margin-top: 30px;
  }

  @media (max-width: $tablet) {
    width: 200px;
    margin-top: 30px;
    position: absolute;
    right: 0;
  }

  @media (max-width: $mobile) {
    width: 150px;
    margin-top: 30px;
    position: absolute;
    right: 0;
    top: 150px;
  }

  @media (max-width: $mobile-l) {
    width: 250px;
    position: absolute;
    right: 95px;
    top: 150px;
  }
}

.selectTask {
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 14px;
  font-family: $font-furore;
  background-color: $color-bg;
  border: 1px solid $color-grey;

  &.selectTaskDark {
    background-color: $color-bg-dark;
    color: $color-grey;
  }

  @media (max-width: $desktop) {
    font-size: 14px;
  }

  @media (max-width: $tablet) {
    font-size: 12px;
  }

  @media (max-width: $mobile) {
    font-size: 10px;
  }

  @media (max-width: $mobile-l) {
    font-size: 14px;
    line-height: 1.4;
    padding: 8px;
    margin-right: 0;
    margin-bottom: 5px;
  }

  @media (max-width: $mobile-m) {
    font-size: 12px;
    padding: 6px;
    margin-right: 3px;
  }
}

.selectTodos {
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 14px;
  font-family: $font-furore;
  background-color: $color-bg;
  border: 1px solid $color-grey;

  &.selectTodosDark {
    background-color: $color-bg-dark;
    color:$color-grey;
  }

  @media (max-width: $desktop) {
    font-size: 14px;
  }

  @media (max-width: $tablet) {
    font-size: 12px;
  }

  @media (max-width: $mobile) {
    font-size: 10px;
  }

  @media (max-width: $mobile-l) {
    font-size: 14px;
    line-height: 1.4;
    padding: 8px;
    margin-right: 0;
    margin-bottom: 5px;
  }

  @media (max-width: $mobile-m) {
    font-size: 12px;
    padding: 6px;
    margin-right: 3px;
  }
}

select:focus {
  outline: none;
}

.btnCreate {
  text-decoration: none;
  color: black;
  background-color: $color-bg;
  border: 1px solid $color-grey;
  font-size: 15px;
  font-family: $font-furore;
  padding: 8px 10px;

  &.btnCreateDark {
    color: $color-grey;
    background-color: $color-bg-dark;
  }

  @media (max-width: $desktop) {
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    top: 860px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: $tablet) {
    font-size: 15px;
    padding: 6px 10px;
    position: absolute;
    top: 960px;
    left: 200px;
    transform: translateX(-50%);
  }

  @media (max-width: $mobile) {
    font-size: 14px;
    padding: 4px 8px;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: $mobile-l) {
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    top: -15px;
    left: 127px;
    transform: translateX(-50%);
    margin-top: 20px;
  }

  @media (max-width: $mobile-m) {
    font-size: 12px;
    padding: 6px 10px;
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.errorMess {
  font-family: $font-furore;
  font-size: 20px;

  @media (max-width: $desktop) {
    right: 300px;
  }

  @media (max-width: $tablet) {
    right: 150px;
  }

  @media (max-width: $mobile) {
    right: 100px;
  }

  @media (max-width: $mobile-l) {
    font-size: 12px;
    right: 10px;
  }

  @media (max-width: $mobile-m) {
    font-size: 12px;
    right: 10px;
  }
}

.paginateBlock {
  margin-top: 30px;

  @media (max-width: $desktop) {
    margin-top: 30px;
  }

  @media (max-width: $tablet) {
    margin-top: 30px;
  }

  @media (max-width: $mobile) {
    margin-top: 10px;
    position: absolute;
    top: 890px;
    left: 110px;
    display: flex;
    text-align: center;
    width: 700px;
  }

  @media (max-width: $mobile-l) {
    margin-top: 10px;
    position: absolute;
    top: 840px;
    left: -10px;
    display: flex;
    text-align: center;
    width: 700px;
  }

  @media (max-width: $mobile-m) {
    margin-top: 10px;
  }
}

.paginationBlock {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-right: 150px;
  font-family: $font-jost;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: $color-grey-light;
}

.countRows {
  margin-top: 35px;
  margin-right: 0;
  font-family: $font-jost;

  &.countRowsDark {
    color: $color-grey;
  }

  @media (max-width: $laptop-l) {
    display: none;
  }

  @media (max-width: $desktop) {
    display: none;
  }
}

@media (max-width: $laptop-l) {
  .paginationCount {
    margin-right: 100px;
  }
  .pagination {
    position: relative;
    margin-top: 30px;
  }
}

@media (max-width: $desktop) {
  .paginationCount {
    margin-right: 50px;
  }
}

@media (max-width: $tablet) {
  .paginationCount {
    margin-right: 50px;
  }
  .trTask > td:before {
    width: 100px;
  }
}

@media (max-width: $mobile) {
  .paginationCount {
    margin-right: 20px;
  }
  .trTask > td:before {
    width: 80px;
  }
}

@media (max-width: $mobile-l) {
  .trTask > td:before {
    display: block;
    content: attr(data-th);
    font-weight: bold;
    width: auto;
    margin-bottom: 5px;
  }
  .paginationCount {
    font-size: 12px;
  }
}

@media (max-width: $mobile-m) {
  .paginationCount {
    font-size: 12px;
  }
}