.tableTask {
  margin-top: 20px;
  width: 1700px;
  border-collapse: collapse;

  @media (max-width: 1440px) {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 1280px) {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 1024px) {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 768px) {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 480px) {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 425px) {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    margin-top: 110px;
  }
}

.theadTask {
  height: 50px;
  color: #BCB8B8;
  border-bottom: 1px solid #D2D0D0;
}

.trTask {
  font-family: 'Furore', sans-serif;
  font-size: 20px;
  letter-spacing: -0.01em;
  font-weight: 200;
  border-bottom: 1px solid #D2D0D0;

  @media (max-width: 480px) {
    font-size: 14px;
    line-height: 1.4;
  }

  @media (max-width: 425px) {
    font-size: 14px;
    line-height: 1.4;
  }

  @media (max-width: 375px) {
    font-size: 12px;
  }
}

.filters {
  margin-top: 20px;

  @media (max-width: 480px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (max-width: 425px) {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    flex-direction: row;
    top: 210px;
    right: -50px;
  }
}

.searchTask {
  position: absolute;
  width: 400px;
  height: 30px;
  border: 1px solid #D2D0D0;
  background: #F3F2F2;
  padding: 8px 10px;
  margin-left: 1275px;

  font-family: 'Jost', sans-serif;
  font-size: 18px;
  color: #3C3A39;

  &.searchTaskDark {
    background-color: #191919;
    color: #D2D0D0;
  }

  @media (max-width: 1440px) {
    width: 300px;
    margin-left: 500px;
    margin-top: 110px;
  }

  @media (max-width: 1280px) {
    width: 250px;
    margin-top: 30px;
  }

  @media (max-width: 1024px) {
    width: 200px;
    margin-top: 30px;
    position: absolute;
    right: 0;
  }

  @media (max-width: 768px) {
    width: 150px;
    margin-top: 30px;
    position: absolute;
    right: 0;
    top: 150px;
  }

  @media (max-width: 480px) {
    width: 100%;
    position: static;
    margin-top: 20px;
  }

  @media (max-width: 425px) {
    width: 250px;
    position: absolute;
    right: 95px;
    top: 150px;
  }
}

.selectTask {
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 14px;
  font-family: 'Furore', sans-serif;
  background-color: #F3F2F2;
  border: 1px solid #D2D0D0;

  &.selectTaskDark {
    background-color: #191919;
    color: #D2D0D0;
  }

  @media (max-width: 1280px) {
    font-size: 14px;
  }

  @media (max-width: 1024px) {
    font-size: 12px;
  }

  @media (max-width: 768px) {
    font-size: 10px;
  }

  @media (max-width: 480px) {
    font-size: 14px;
    line-height: 1.4;
    padding: 8px;
    margin-right: 5px;
  }

  @media (max-width: 425px) {
    font-size: 14px;
    line-height: 1.4;
    padding: 8px;
    margin-right: 0;
    margin-bottom: 5px;
  }

  @media (max-width: 375px) {
    font-size: 12px;
    padding: 6px;
    margin-right: 3px;
  }
}

.selectTodos {
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 14px;
  font-family: 'Furore', sans-serif;
  background-color: #F3F2F2;
  border: 1px solid #D2D0D0;

  &.selectTodosDark {
    background-color: #191919;
    color: #D2D0D0;
  }

  @media (max-width: 1280px) {
    font-size: 14px;
  }

  @media (max-width: 1024px) {
    font-size: 12px;
  }

  @media (max-width: 768px) {
    font-size: 10px;
  }

  @media (max-width: 480px) {
    font-size: 14px;
    line-height: 1.4;
    padding: 8px;
    margin-right: 5px;
  }

  @media (max-width: 425px) {
    font-size: 14px;
    line-height: 1.4;
    padding: 8px;
    margin-right: 0;
    margin-bottom: 5px;
  }

  @media (max-width: 375px) {
    font-size: 12px;
    padding: 6px;
    margin-right: 3px;
  }
}

select:focus {
  outline: none;
}

.btnCreate {
  text-decoration: none;
  color: black;
  background-color: #F3F2F2;
  border: 1px solid #D2D0D0;
  font-size: 15px;
  font-family: 'Furore', sans-serif;
  padding: 8px 10px;

  &.btnCreateDark {
    color: #D2D0D0;
    background-color: #191919;
  }

  @media (max-width: 1280px) {
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    top: 860px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: 1024px) {
    font-size: 15px;
    padding: 6px 10px;
    position: absolute;
    top: 960px;
    left: 200px;
    transform: translateX(-50%);
  }

  @media (max-width: 768px) {
    font-size: 14px;
    padding: 4px 8px;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: 480px) {
    font-size: 14px;
    padding: 8px 12px;
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: 425px) {
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    top: -15px;
    left: 127px;
    transform: translateX(-50%);
    margin-top: 20px;
  }

  @media (max-width: 375px) {
    font-size: 12px;
    padding: 6px 10px;
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.errorMess {
  font-family: 'Furore', sans-serif;
  font-size: 20px;

  @media (max-width: 1280px) {
    right: 300px;
  }

  @media (max-width: 1024px) {
    right: 150px;
  }

  @media (max-width: 768px) {
    right: 100px;
  }

  @media (max-width: 425px) {
    font-size: 12px;
    right: 10px;
  }

  @media (max-width: 375px) {
    font-size: 12px;
    right: 10px;
  }
}

.paginateBlock {
  margin-top: 30px;

  @media (max-width: 1280px) {
    margin-top: 30px;
  }

  @media (max-width: 1024px) {
    margin-top: 30px;
  }

  @media (max-width: 768px) {
    margin-top: 10px;
    position: absolute;
    top: 890px;
    left: 110px;
    display: flex;
    text-align: center;
    width: 700px;
  }

  @media (max-width: 480px) {
    margin-top: 20px;
  }

  @media (max-width: 425px) {
    margin-top: 10px;
    position: absolute;
    top: 840px;
    left: -10px;
    display: flex;
    text-align: center;
    width: 700px;
  }

  @media (max-width: 375px) {
    margin-top: 10px;
  }
}

.paginationBlock {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-right: 150px;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #BCB8B8;
}

.countRows {
  margin-top: 35px;
  margin-right: 0;
  font-family: 'Jost', sans-serif;

  &.countRowsDark {
    color: #D2D0D0;
  }

  @media (max-width: 1440px) {
    display: none;
  }

  @media (max-width: 1280px) {
    display: none;
  }
}

@media (max-width: 1440px) {
  .paginationCount {
    margin-right: 100px;
  }
  .pagination {
    position: relative;
    margin-top: 30px;
  }
}

@media (max-width: 1280px) {
  .paginationCount {
    margin-right: 50px;
  }
}

@media (max-width: 1024px) {
  .paginationCount {
    margin-right: 50px;
  }
  .trTask > td:before {
    width: 100px;
  }
}

@media (max-width: 768px) {
  .paginationCount {
    margin-right: 20px;
  }
  .trTask > td:before {
    width: 80px;
  }
}

@media (max-width: 480px) {
  .trTask > td:before {
    display: block;
    content: attr(data-th);
    font-weight: bold;
    width: auto;
    margin-bottom: 5px;
  }
  .paginationCount {
    margin-right: 0;
    text-align: center;
  }
  .pagination {
    margin-top: 10px;
  }
}

@media (max-width: 425px) {
  .trTask > td:before {
    display: block;
    content: attr(data-th);
    font-weight: bold;
    width: auto;
    margin-bottom: 5px;
  }
  .paginationCount {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .paginationCount {
    font-size: 12px;
  }
}