@import url('https://fonts.cdnfonts.com/css/furore');


.titleUser {
  font-style: normal;
  font-weight: 400;
  font-family: 'Furore', sans-serif;
  font-size: 40px;
  letter-spacing: -0.01em;
}

input {
  outline: none;
}

.searhcing {
  display: flex;
  align-items: center;
}

.searchUser {
  position: absolute;
  width: 400px;
  height: 30px;
  border: 1px solid #D2D0D0;
  background: #F3F2F2;
  padding: 8px 10px;
  margin-left: 1275px;

  font-family: 'Jost', sans-serif;
  font-size: 18px;
  color: #3C3A39;
}

.btnCreate {
  font-size: 18px;
  font-family: 'Furore', sans-serif;
  background: #F3F2F2;
  color: #BCB8B8;
  border: 1px solid #BCB8B8;
  padding: 6px 10px;
  cursor: pointer;
  margin-left: 550px;
  text-decoration: none;
}

.tableUser {
  margin-top: 40px;
  max-width: 1700px;
}

.theadUser {
  height: 50px;
  color: #BCB8B8;
  border-bottom: 1px solid #D2D0D0;
}

.thUser {
  font-family: 'Furore', sans-serif;
  font-size: 20px;
  letter-spacing: -0.01em;
  font-weight: 200;
  border-bottom: 1px solid #D2D0D0;
}

.btnTh {
  margin-left: 10px;
  width: 12px;
  height: 12px;
  background-image: url("../../assets/icon-table.png");
  background-size: cover;
  border: none;
  cursor: pointer;
}

.tdUser {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Jost', sans-serif;
  border-bottom: 1px solid #D2D0D0;
  color: #3C3A39;
  margin-top: 10px;
}

td:focus {
  background-color: #EBEAEA;
}

.pageItem {
  margin-top: 40px;
  border: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.pageLink {
  border: 1px solid #D2D0D0;
  background: #F3F2F2;
  font-family: 'Furore', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  height: 30px;
  padding: 0 20px;
  color: #BCB8B8;
}

.paginationCount {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-right: 150px;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #BCB8B8;
}

.tdDrop {
  border: none;
  padding-bottom: 20px;
}