@import "../../../variables";

.inputBox {
  margin-top: 35px;
  margin-right: 60px;
  width: 458px;
}

.labelCreate {
  font-family: $font-furore;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 16px;
  letter-spacing: -0.01em;

  display: block;
  color: $color-dark-grey;
  background-color: $color-light-grey;
  padding: 8px;
  clip-path: polygon(0 0, calc(100% - 12px) 0, 100% 10px, 100% 100%, 0 100%);
  &:focus {
    color: $color-purple;
  }
  &.labelCreateDark {
    color: $color-grey;
    background-color: $color-dark-grey;
  }
}

.inputCreate {
  font-family: $font-jost;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;

  display: block;
  width: 440px;
  padding: 8px;
  border: 1px solid #ccc;
  &:focus {
    outline: none;
  }
}