@import "../../../../variables";

.panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panelLink {
  text-decoration: none;
  font-family: $font-furore;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: $color-grey-light;
  margin-right: 40px;
}

.panelBack {
  text-decoration: none;
  font-family: $font-furore;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: $color-grey-light;
  margin-right: 40px;

  @media (max-width: 425px) {
    text-decoration: none;
    font-family: $font-furore;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: $color-grey-light;
    margin-right: 40px;
    position: absolute;
    top: 120px;
    left: 70px;
  }
}

.panelRight {
  margin-right: 110px;

  @media (max-width: $tablet) {
    position: absolute;
    left: 260px;
    top: 124px;
  }

  @media (max-width: $mobile) {
    position: absolute;
    width: 600px;
    left: 200px;
    top: 124px;
  }

  @media (max-width: $mobile-l) {
    position: absolute;
    left: 290px;
    top: 120px;
    width: 400px;
    font-size: 16px;
  }
}

.title {
  margin-top: 30px;
  font-family: $font-furore;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 116%;
  letter-spacing: -0.01em;

  &.titleDark {
    color: $color-blue;
  }

  @media (max-width: $mobile) {
    font-size: 30px;
  }

  @media (max-width: $mobile-l) {
    font-size: 40px;
    position: absolute;
    top: 140px;
    left: 70px;
  }

  @media (max-width: $mobile-m) {
    font-size: 22px;
  }

  @media (max-width: $mobile-s) {
    font-size: 20px;
  }
}

.inpContainer {
  display: flex;
  align-items: center;

  @media (max-width: $tablet) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.subtitle {
  margin-top: 30px;
  font-family: $font-jost;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 124%;
  color: $color-grey-dark;

  &.subtitleDark {
    color: $color-grey;
  }

  @media (max-width: $mobile) {
    font-size: 20px;
  }

  @media (max-width: $mobile-l) {
    font-size: 30px;
  }

  @media (max-width: $mobile-m) {
    font-size: 16px;
  }

  @media (max-width: $mobile-s) {
    font-size: 14px;
  }
}

.btnSub {
  margin-top: 40px;
  width: 300px;
  background-color: $color-grey-light;
  color: #FFF;
  font-size: 16px;
  font-family: $font-furore;
  padding: 15px 30px;
  border: none;
  clip-path: polygon(0 0, calc(100% - 12px) 0, 100% 10px, 100% 100%, 0 100%);
  cursor: pointer;

  &.btnSubDark {
    background-color: $color-dark-grey;
  }
}

.labelCreate {
  font-family: $font-furore;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 16px;
  letter-spacing: -0.01em;

  display: block;
  color: $color-dark-grey;
  background-color: $color-light-grey;
  padding: 8px;
  clip-path: polygon(0 0, calc(100% - 12px) 0, 100% 10px, 100% 100%, 0 100%);

  &:focus {
    color: $color-purple;
  }

  &.labelCreateDark {
    color: $color-grey;
    background-color: $color-dark-grey;
  }

  @media (max-width: $mobile-l) {
    font-size: 25px;
  }

  @media (max-width: $mobile-m) {
    font-size: 15px;
  }

  @media (max-width: $mobile-s) {
    font-size: 14px;
  }
}

.error {
  position: absolute;
  top: 403px;
  left: 365px;
  font-family: $font-jost;
  color: $color-red;
}

.inputCreate {
  font-family: $font-jost;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;

  display: block;
  width: 440px;
  padding: 8px;
  border: 1px solid #ccc;

  &:focus {
    outline: none;
  }

  &.inputCreateDark {
    background-color: $color-bg-dark;
    border: 1px solid $color-dark-grey;
    color: $color-grey;
  }

  @media (max-width: $mobile-l) {
    font-size: 20px;
  }

  @media (max-width: $mobile-m) {
    font-size: 15px;
  }

  @media (max-width: $mobile-s) {
    font-size: 14px;
  }
}

.inputBox {
  margin-top: 35px;
  margin-right: 60px;
  width: 458px;

  @media (max-width: $tablet) {
    margin-right: 0;
  }
}

@media (max-width: $mobile-l) {
  .blocks {
    position: absolute;
    top: 250px;
    left: 70px;
  }
}
