@import "../../../../variables";

.dropdown {
  position: relative;
  margin: 7px 0 5px 0;
}

.linksBox {
  position: absolute;
  top: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
}

.links {
  list-style-type: none;
  text-decoration: none !important;
  font-size: 14px;
  font-family: $font-furore;
  background: $color-bg;
  color: $color-grey-light;
  border: 1px solid $color-grey-light;
  padding: 6px 10px;
  cursor: pointer;
  margin-right: 40px;
  &.linksDark {
    background: $color-bg-dark;
  }
}

.close {
  list-style-type: none;
  text-decoration: none !important;
  font-size: 14px;
  font-family: $font-furore;
  background: $color-bg;
  color: $color-grey-light;
  border: 1px solid $color-grey-light;
  padding: 6px 10px;
  cursor: pointer;
  &.closeDark {
    background: $color-bg-dark;
  }
}