@import "../../../../variables";

.wrapper {
  margin: 0 0 0 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  background: $color-bg;
  width: 100%;

  @media screen and (max-width: $mobile) {
    margin: 0 0 0 100px;
    padding: 0;
  }
}

.wrapperDark {
  margin: 0 0 0 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  background: $color-bg-dark;
  width: 100%;
}


.select {
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 14px;
  font-family: $font-furore;
  background-color: $color-bg;
  border: 1px solid $color-grey;
  margin-left: 70px;
  &.selectDark {
    background-color: $color-bg-dark;
    color: $color-grey;
  }
}

.btnCreate {
  text-decoration: none;
  color: black;
  background-color: $color-bg;
  border: 1px solid $color-grey;
  font-size: 15px;
  font-family: $font-furore;
  padding: 8px 10px;
  margin-left: 40px;
  &.btnCreateDark {
    color: $color-grey;
    background-color: $color-bg-dark;
  }
}