@import "../../../variables";

.tdTask {
  font-size: 18px;
  padding: 20px 0;
  text-align: center;
  font-family: $font-jost;
  border-bottom: 1px solid $color-grey;
  color: $color-grey-dark;
  margin-top: 10px;
  &.tdTaskDark {
    color: $color-grey;
  }
}

.trTask {
  height: 100px;
}