h4, h5, p {
  margin: 0;
}

.post {
  margin-top: 40px;
  border: 1px solid #D2D0D0;
  width: 1200px;
  clip-path: polygon(0 0, calc(100% - 12px) 0, 100% 10px, 100% 100%, 0 100%);
}

.title {
  padding: 7px;
  font-family: 'Furore', sans-serif;
  background-color: #D2D0D0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.01em;
}