@import "../../../../variables";

.wrapper {
  margin: 0 0 0 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  background: $color-bg;
  width: 100%;

  @media screen and (max-width: $mobile) {
    margin: 0 0 0 100px;
    padding: 0;
  }
}

.wrapperDark {
  margin: 0 0 0 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  background: $color-bg-dark;
  width: 100%;
}


.panel {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $mobile-l) {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.panelLink {
  text-decoration: none;
  font-family: $font-furore;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: $color-grey-light;
  margin-right: 40px;

  @media (max-width: $mobile-l) {
    margin-top: 20px;
    color: $color-grey-light;
    margin-right: 40px;
  }
}

.panelRight {
  margin-right: 110px;

  @media (max-width: $mobile) {
    position: absolute;
    right: -210px;
    top: 124px;
  }

  @media (max-width: $mobile-l) {
    position: absolute;
    top: 120px;
    left: 200px;
  }
}

.title {
  margin-top: 30px;
  font-family: $font-furore;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 116%;
  letter-spacing: -0.01em;
  color: $color-bg-dark;
  &.titleDark {
    color: $color-blue;
  }

  @media (max-width: $mobile-l) {
    font-size: 45px;
    position: absolute;
    top: 150px;
    left: 70px;
  }
}

.btn {
  text-decoration: none;
  margin-top: 20px;
  padding: 8px 12px;
  font-family: $font-furore;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -0.01em;
  border: 1px solid $color-grey-light;
  color: $color-dark-grey;
  margin-right: 20px;
  background-color: $color-bg;
  &.btnDark {
    color: $color-grey;
    background-color: $color-bg-dark;
  }

  @media (max-width: $mobile) {
    text-decoration: none;
    padding: 8px 12px;
    font-family: $font-furore;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: -0.01em;
    border: 1px solid $color-grey-light;
    color: $color-dark-grey;
    margin-right: 20px;
    background-color: $color-bg;
  }
}

.btnCard {
  margin-top: 20px;
  padding: 8px 12px;
  font-family: $font-furore;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -0.01em;
  border: 1px solid $color-grey-light;
  color: $color-purple;
  margin-right: 20px;
  background-color: $color-bg;
  &.btnCardDark {
    color: $color-blue;
    background-color: $color-bg-dark;
  }
}

.table {
  margin-top: 30px;
  display: flex;
  flex-direction: row;

  @media (max-width: $mobile-l) {
    position: absolute;
    top: 400px;
    left: 70px;
  }
}

.tr {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.th {
  margin: 15px 200px 15px 0;
  font-family: $font-jost;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 130%;
  letter-spacing: -0.01em;
  &.thDark {
    color: $color-grey;
  }
}

.panelBack {
  text-decoration: none;
  font-family: $font-furore;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: $color-grey-light;
  margin-right: 40px;

  @media (max-width: $mobile) {
    margin-top: 20px;
    font-size: 20px;
    line-height: 16px;
    margin-right: 40px;
  }

  @media (max-width: $mobile-l) {
    font-size: 20px;
    line-height: 16px;
    margin-right: 40px;
    position: absolute;
    top: 100px;
    left: 70px;
  }
}

.td {
  margin: 15px 0;
  font-family: $font-jost;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 130%;
  letter-spacing: -0.01em;
  &.tdDark {
    color: $color-grey;
  }
}


@media (max-width: $mobile) {

  .btns {
    margin-top: 30px;
  }

}

@media (max-width: $mobile-l) {

  .btns {
    position: absolute;
    top: 280px;
    left: 70px;
  }

}