@import "../../../variables";

.modalWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.title {
  font-family: $font-furore;
  font-size: 21px;
  margin-bottom: 30px;
}

.subtitle {
  font-family: $font-jost;
  font-size: 18px;
  margin-bottom: 40px;
}

.btn {
  width: 90px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border: 3px solid $color-bg-dark;
  background-color: $color-bg;
  border-radius: 4px;
  font-family: $font-furore;
  font-size: 15px;
  color: $color-bg-dark;
}