@import "../../../variables";

.menu {
  display: flex;
  flex-direction: column;
  background-color: $color-bg;
  top: 100px;
  width: 310px;
  height: 100%;
  border: 1px solid $color-grey;
  position: absolute;
  z-index: 100;
  padding: 50px 40px;

  @media screen and (max-width: $mobile-l) {
    display: flex;
    flex-direction: column;
    background-color: $color-bg;
    top: 70px;
    width: 80px;
    height: 400px;
    border: 1px solid $color-grey;
    position: absolute;
    z-index: 100;
    padding: 50px 40px;
    left: 400px;
    text-decoration: none;
  }
}

.active {
  border-bottom: 1px solid black;
}

.menuDark {
  display: flex;
  flex-direction: column;
  background-color: $color-bg-dark;
  top: 100px;
  width: 310px;
  height: 100%;
  border: 1px solid $color-grey;
  position: absolute;
  z-index: 100;
  padding: 50px 40px;

  @media screen and (max-width: $mobile-l) {
    display: flex;
    flex-direction: column;
    background-color: $color-bg-dark;
    top: 70px;
    width: 80px;
    height: 400px;
    border: 1px solid $color-grey;
    position: absolute;
    z-index: 100;
    padding: 50px 40px;
    left: 400px;
    text-decoration: none;
  }
}

button {
  cursor: pointer;
}

.menu {
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    font-family: $font-jost;
    font-size: 19px;
    font-style: normal;
    font-weight: 550;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }

  @media screen and (max-width: $mobile-l) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;

    .menu a {
      padding: 10px;
    }
  }

}

.menuDark {
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    font-family: $font-jost;
    font-size: 19px;
    font-style: normal;
    font-weight: 550;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    color: $color-grey;
  }
}

.btn {
  width: 40px;
  height: 40px;
  margin: 0;
  background-image: url("../../../assets/navigation-button-open.png");
  @include background-style;
  border: none;
  position: absolute;
  left: 352px;

  @media screen and (max-width: $mobile-l) {
    left: 400px;
    position: absolute;
    width: 160px;
    height: 50px;
    margin: 0;
    background-image: url("../../../assets/navigation-menu.png");
    @include background-style;
    border: none;
    top: 20px;
  }
}

.btnDark {
  width: 40px;
  height: 40px;
  margin: 0;
  background-image: url("../../../assets/darkAssets/navigation-button-open-dark.png");
  @include background-style;
  border: none;
  position: absolute;
  left: 352px;

  @media screen and (max-width: $mobile-l) {
    position: absolute;
    width: 160px;
    height: 50px;
    margin: 0;
    background-image: url("../../../assets/darkAssets/navigation-menu-dark.png");
    @include background-style;
    border: none;
    top: 20px;
    left: 400px;
  }
}

.btnClose {
  width: 40px;
  height: 40px;
  margin: 0;
  background-image: url("../../../assets/navigation-button-close.png");
  @include background-style;
  border: none;

  @media screen and (max-width: $mobile-l) {
    position: absolute;
    width: 160px;
    height: 50px;
    margin: 0;
    background-image: url("../../../assets/navigation-menu.png");
    @include background-style;
    border: none;
    top: 20px;
    left: 400px;
  }
}

.btnCloseDark {
  width: 40px;
  height: 40px;
  margin: 0;
  background-image: url("../../../assets/darkAssets/navigation-button-close-dark.png");
  @include background-style;
  border: none;

  @media screen and (max-width: $mobile-l) {
    position: absolute;
    width: 160px;
    height: 50px;
    margin: 0;
    background-image: url("../../../assets/darkAssets/navigation-menu-dark.png");
    @include background-style;
    border: none;
    top: 20px;
    left: 400px;
  }
}

.column {
  position: absolute;
  top: 100px;
  width: 38px;
  height: 100%;
  border: 1px solid $color-grey;
  z-index: 0;

  @media screen and (max-width: $mobile-l) {
    display: none;
  }

}

.columnDark {
  position: absolute;
  top: 100px;
  width: 38px;
  height: 100%;
  border: 1px solid #FFFFFF;
  background: $color-bg-dark;
  z-index: 0;

  @media screen and (max-width: $mobile-l) {
    position: absolute;
    top: 100px;
    width: 38px;
    height: 100%;
    border: 1px solid #FFFFFF;
    background: $color-bg-dark;
    z-index: 0;
  }
}

.iconOpen {
  width: 12px;
  height: 12px;
  margin: 0 10px;
  background-image: url("../../../assets/icon-open.png");
  @include background-style;
  border: none;
}

.iconOpenDark {
  width: 8px;
  height: 8px;
  margin: 0 10px;
  background-image: url("../../../assets/darkAssets/icon-open-dark.png");
  @include background-style;
  border: none;
  background-color: $color-bg-dark;
}

.iconClose {
  width: 12px;
  height: 12px;
  margin: 0 10px;
  background-image: url("../../../assets/icon-close.png");
  @include background-style;
  border: none;
}

.iconCloseDark {
  width: 8px;
  height: 8px;
  margin: 0 10px;
  background-image: url("../../../assets/darkAssets/icon-close-dark.png");
  @include background-style;
  border: none;
  background-color: $color-bg-dark;
}

.miniMenu {
  margin: 0 -5px 0 -5px;
}

.miniMenu {
  li {
    font-family: $font-jost;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    padding: 5px;
    cursor: pointer;
    letter-spacing: -0.01em;
    color: $color-dark-grey;
  }

  @media screen and (max-width: $mobile-l) {
    padding: 10px;
  }

}

.comment {
  font-size: 14px;
  margin: 0 5px;
}

.blog {
  display: flex;
  align-items: center;
}

.activeDark {
  border-bottom: 1px solid $color-grey;
}


@media screen and (max-width: $mobile-l) {

  .wrapper {
    margin: 0 !important;
  }

}