@import "../../../../variables";

.wrapper {
  margin: 0 0 0 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  background: $color-bg;
  width: 100%;

  @media screen and (max-width: $mobile) {
    margin: 0 0 0 100px;
    padding: 0;
  }
}

.wrapperDark {
  margin: 0 0 0 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  background: $color-bg-dark;
  width: 100%;
}


.tableTask {
  margin-top: 20px;
  width: 1700px;
  border-collapse: collapse;

  @media (max-width: $laptop-l) {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $desktop) {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $tablet) {
    max-width: 100%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $mobile) {
    margin-top: 100px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $mobile-l) {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    margin-top: 110px;
  }
}

.theadTask {
  height: 50px;
  color: $color-grey-light;
  border-bottom: 1px solid $color-grey;
}

.trTask {
  font-family: $font-furore;
  font-size: 20px;
  letter-spacing: -0.01em;
  font-weight: 200;
  border-bottom: 1px solid $color-grey;

  @media (max-width: $mobile-l) {
    font-size: 14px;
    line-height: 1.4;
  }

  @media (max-width: $mobile-m) {
    font-size: 12px;
  }
}

.filters {
  margin-top: 20px;
}

.searchTask {
  position: absolute;
  width: 400px;
  height: 30px;
  border: 1px solid $color-grey;
  background: $color-bg;
  padding: 8px 10px;
  margin-left: 1275px;

  font-family: $font-jost;
  font-size: 18px;
  color: $color-grey-dark;

  &.searchTaskDark {
    background-color: $color-bg-dark;
    color: $color-grey;
  }

  @media (max-width: $laptop-l) {
    width: 300px;
    margin-left: 500px;
    margin-top: 110px;
  }

  @media (max-width: $desktop) {
    width: 250px;
    margin-top: 30px;
  }

  @media (max-width: $tablet) {
    width: 200px;
    margin-top: 30px;
    position: absolute;
    right: 0;
  }

  @media (max-width: $mobile) {
    width: 150px;
    margin-top: 30px;
    position: absolute;
    right: 0;
    top: 150px;
  }

  @media (max-width: $mobile-l) {
    width: 250px;
    position: absolute;
    right: 95px;
    top: 150px;
  }
}

.selectTask {
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 14px;
  font-family: $font-furore;
  background-color: $color-bg;
  border: 1px solid $color-grey;

  &.selectTaskDark {
    background-color: $color-bg-dark;
    color: $color-grey;
  }

  @media (max-width: $desktop) {
    font-size: 14px;
  }

  @media (max-width: $tablet) {
    font-size: 12px;
  }

  @media (max-width: $mobile) {
    font-size: 10px;
  }

  @media (max-width: $mobile-l) {
    font-size: 14px;
    line-height: 1.4;
    padding: 8px;
    margin-right: 0;
    margin-bottom: 5px;
  }

  @media (max-width: $mobile-m) {
    font-size: 12px;
    padding: 6px;
    margin-right: 3px;
  }
}

.selectTodos {
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 14px;
  font-family: $font-furore;
  background-color: $color-bg;
  border: 1px solid $color-grey;

  &.selectTodosDark {
    background-color: $color-bg-dark;
    color: $color-grey;
  }

  @media (max-width: $desktop) {
    font-size: 14px;
  }

  @media (max-width: $tablet) {
    font-size: 12px;
  }

  @media (max-width: $mobile) {
    font-size: 10px;
  }

  @media (max-width: $mobile-l) {
    font-size: 14px;
    line-height: 1.4;
    padding: 8px;
    margin-right: 0;
    margin-bottom: 5px;
  }

  @media (max-width: $mobile-m) {
    font-size: 12px;
    padding: 6px;
    margin-right: 3px;
  }
}

select:focus {
  outline: none;
}

.errorMess {
  font-family: $font-furore;
  font-size: 20px;

  @media (max-width: $desktop) {
    right: 300px;
  }

  @media (max-width: $tablet) {
    right: 150px;
  }

  @media (max-width: $mobile) {
    right: 100px;
  }

  @media (max-width: $mobile-l) {
    font-size: 12px;
    right: 10px;
  }

  @media (max-width: $mobile-m) {
    font-size: 12px;
    right: 10px;
  }
}

.paginationCount {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-right: 150px;
  margin-top: 40px;
  font-family: $font-jost;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: $color-grey-light;

  @media (max-width: $laptop-l) {
    margin-right: 100px;
  }

  @media (max-width: $tablet) {
    margin-top: 10px;
    margin-right: 100px;
  }

  @media (max-width: $mobile) {
    margin-right: 50px;
  }

  @media (max-width: $mobile-l) {
    position: absolute;
    top: 900px;
    width: 500px;
    right: -270px;
  }

  @media (max-width: $mobile-m) {
    position: absolute;
    top: 870px;
    width: 400px;
    right: -280px;
  }

  @media (max-width: $mobile-s) {
    position: absolute;
    top: 870px;
    width: 400px;
    right: -350px;
  }
}


.paginationBlock {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-right: 150px;
  font-family: $font-jost;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: $color-grey-light;
}

.countRows {
  margin-top: 35px;
  margin-right: 0;
  font-family: $font-jost;
  &.countRowsDark {
    color: $color-grey;
  }

  @media (max-width: $laptop-l) {
    display: none;
  }
}

.tableWrapper {
  height: 700px;
  overflow: auto;
}