@import url('https://fonts.cdnfonts.com/css/circe');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

h1, h2, p {
  margin: 0;
}

.wrapper {
  margin: 0 0 0 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  background: #F3F2F2;
  width: 100%;

  @media screen and (max-width: 768px) {
    margin: 0 0 0 100px;
    padding: 0;
  }
}

.wrapperDark {
  margin: 0 0 0 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  background: #191919;
  width: 100%;
}

.wrapperDark {
  .mainTitleDark {
    margin: 118px 0 0 0;
    font-family: 'Circe', sans-serif;
    font-size: 240px;
    font-weight: 800;
    height: 270px;
    color: #6DE8CE;
  }

  h3 {
    margin: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #D2D0D0;
  }

  .text {
    margin: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #D2D0D0;
  }
}

.mainTitle {
  margin: 118px 0 0 0;
  font-family: 'Circe', sans-serif;
  font-size: 240px;
  font-weight: 800;
  height: 270px;

  @media screen and (max-width: 768px) {
    font-size: 160px;
    height: 190px;
  }

  @media screen and (max-width: 425px) {
    top: 100px;
    right: -30px;
    position: absolute;
    width: 400px;
    font-size: 100px;
    font-weight: 1000;
    height: 120px;
  }

  @media screen and (max-width: 375px) {
    position: absolute;
    right: -280px;
    width: 600px;
    font-size: 120px;
    font-weight: 1000;
    height: 140px;
  }

  @media screen and (max-width: 320px) {
    margin: 118px 0 0 0;
    font-family: 'Circe', sans-serif;
    font-size: 105px;
    width: 500px;
    font-weight: 1200;
    height: 130px;
  }
}

h3 {
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 40px;

  @media screen and (max-width: 768px) {
    width: 600px;
    font-size: 38px;
  }

  @media screen and (max-width: 425px) {
    position: absolute;
    right: -50px;
    top: 340px;
    width: 420px;
    font-size: 40px;
  }

  @media screen and (max-width: 375px) {
    position: absolute;
    top: 360px;
    right: -280px;
    width: 600px;
    font-size: 50px;
  }

  @media screen and (max-width: 320px) {
    position: absolute;
    right: -380px;
    width: 600px;
    margin: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 50px;
  }
}

.text {
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 18px;

  @media screen and (max-width: 425px) {
    position: absolute;
    right: -30px;
    top: 470px;
    width: 400px;
  }

  @media screen and (max-width: 375px) {
    position: absolute;
    top: 510px;
    right: -280px;
    width: 600px;
    font-size: 32px;
  }

  @media screen and (max-width: 320px) {
    margin: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 30px;
    width: 500px;
  }
}
