@import url('https://fonts.cdnfonts.com/css/circe');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

h1, h2, p {
  margin: 0;
}

.wrapper {
  margin: 0 0 0 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  background: #F3F2F2;
  width: 100%;
}

.wrapperDark {
  margin: 0 0 0 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  background: #191919;
  width: 100%;
}

.wrapper {
  .mainTitle {
    margin: 118px 0 0 0;
    font-family: 'Circe', sans-serif;
    font-size: 240px;
    font-weight: 800;
    height: 270px;
  }

  h3 {
    margin: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 40px;
  }

  .text {
    margin: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 18px;
  }
}

.mainAfter {
  margin: 0 0 0 440px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  background: #F3F2F2;
}

.mainAfter {
  h2 {
    margin: 178px 0 0 0;
    font-family: 'Circe', sans-serif;
    font-size: 240px;
    font-weight: 800;
    height: 270px;
  }

  h3 {
    margin: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 40px;
  }

  .text {
    margin: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {

  .wrapper {
    margin: 0 0 0 100px;
    padding: 0;

    .mainTitle {
      margin: 118px 0 0 0;
      font-family: 'Circe', sans-serif;
      font-size: 160px;
      font-weight: 800;
      height: 190px;
    }

    h3 {
      width: 600px;
      margin: 0;
      font-family: 'Jost', sans-serif;
      font-weight: 400;
      font-size: 40px;
    }

    .text {
      margin: 0;
      font-family: 'Jost', sans-serif;
      font-weight: 400;
      font-size: 18px;
    }
  }

}

@media screen and (max-width: 425px) {

  .wrapper {
    margin: 0 0 0 100px;
    padding: 0;

    .mainTitle {
      margin: 118px 0 0 0;
      font-family: 'Circe', sans-serif;
      font-size: 100px;
      font-weight: 1000;
      height: 120px;
    }

    h3 {
      width: 600px;
      margin: 0;
      font-family: 'Jost', sans-serif;
      font-weight: 400;
      font-size: 40px;
    }

    .text {
      margin: 0;
      font-family: 'Jost', sans-serif;
      font-weight: 400;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 375px) {

  .wrapper {
    margin: 0 0 0 100px;
    padding: 0;

    .mainTitle {
      margin: 118px 0 0 0;
      font-family: 'Circe', sans-serif;
      font-size: 90px;
      font-weight: 1000;
      height: 110px;
    }

    h3 {
      width: 600px;
      margin: 0;
      font-family: 'Jost', sans-serif;
      font-weight: 400;
      font-size: 40px;
    }

    .text {
      margin: 0;
      font-family: 'Jost', sans-serif;
      font-weight: 400;
      font-size: 18px;
    }
  }
}