$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$mobile: 768px;
$tablet: 1024px;
$desktop: 1280px;
$laptop-l: 1440px;

$color-bg: #F3F2F2;
$color-dark-white: #EBEAEA;
$color-bg-dark: #191919;
$color-blue: #6DE8CE;
$color-grey: #D2D0D0;
$color-light-grey: #dcdcdc;
$color-dark-grey: #2D2B2A;
$color-purple: #6159FC;
$color-grey-light: #BCB8B8;
$color-grey-dark: #3C3A39;
$color-red: red;

$font-jost: 'Jost', sans-serif;
$font-circe: 'Circe', sans-serif;
$font-furore: 'Furore', sans-serif;