@import "../../../variables";

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loaderBar {
  width: 4px;
  height: 20px;
  opacity: 0.4;
  margin: 0 3px;
  background-color: $color-dark-grey;
  animation: loaderAnimation 1s ease-in-out infinite;
  &.loaderBarDark {
    background-color: $color-blue;
  }
}

@keyframes loaderAnimation {
  0% {
    transform: scaleY(1);
  }
  20% {
    transform: scaleY(2.5);
  }
  40% {
    transform: scaleY(1);
  }
}