@import "../../../../variables";

.wrapper {
  margin: 0 0 0 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  background: $color-bg;
  width: 100%;

  @media screen and (max-width: $mobile) {
    margin: 0 0 0 100px;
    padding: 0;
  }
}

.wrapperDark {
  margin: 0 0 0 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  background: $color-bg-dark;
  width: 100%;
}


.panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panelLink {
  text-decoration: none;
  font-family: $font-furore;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: $color-grey-light;
  margin-right: 40px;
}

.panelRight {
  margin-right: 110px;
}

.title {
  margin-top: 30px;
  font-family: $font-furore;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 116%;
  letter-spacing: -0.01em;
  &.titleDark {
    color: $color-blue;
  }
}

.inpContainer {
  display: flex;
  align-items: center;
}

.subtitle {
  margin-top: 30px;
  font-family: $font-jost;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 124%;
  color: $color-grey-dark;
}

.btnSub {
  margin-top: 40px;
  width: 300px;
  background-color: $color-grey-light;
  color: #FFF;
  font-size: 16px;
  font-family: $font-furore;
  padding: 15px 30px;
  border: none;
  clip-path: polygon(0 0, calc(100% - 12px) 0, 100% 10px, 100% 100%, 0 100%);
  cursor: pointer;
  &.btnSubDark {
    background-color: $color-dark-grey;
  }
}

.labelCreate {
  font-family: $font-furore;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 16px;
  letter-spacing: -0.01em;

  display: block;
  color: $color-dark-grey;
  background-color: $color-light-grey;
  padding: 8px;
  clip-path: polygon(0 0, calc(100% - 12px) 0, 100% 10px, 100% 100%, 0 100%);
  &:focus {
    color: $color-purple;
  }
  &.labelCreateDark {
    color: $color-grey;
    background-color: $color-dark-grey;
  }
}

.inputCreate {
  font-family: $font-jost;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;

  display: block;
  width: 540px;
  padding: 8px;
  border: 1px solid #ccc;
  &:focus {
    outline: none;
  }
  &.inputCreateDark {
    background-color: $color-bg-dark;
    border: 1px solid $color-dark-grey;
    color: $color-grey;
  }
}

.selectCreate {
  font-family: $font-jost;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;

  display: block;
  width: 458px;
  padding: 6px;
  border: 1px solid #ccc;
  &:focus {
    outline: none;
  }
  cursor: pointer;
  &.selectCreateDark {
    border: 1px solid $color-dark-grey;
    background-color: $color-bg-dark;
    color: $color-grey;
  }
}

.selectBox {
  margin-top: 35px;
  margin-right: 60px;
  width: 458px;
}

.inputBox {
  margin-top: 35px;
  margin-right: 60px;
  width: 558px;
}

.optionFirst {
  font-family: $font-jost;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: $color-dark-grey;
}