.panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panelLink {
  text-decoration: none;
  font-family: 'Furore', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #BCB8B8;
  margin-right: 40px;
}

.panelRight {
  margin-right: 110px;
}

.title {
  margin-top: 30px;
  font-family: 'Furore', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 116%;
  letter-spacing: -0.01em;
  &.titleDark {
    color: #6DE8CE;
  }
}

.inpContainer {
  display: flex;
  align-items: center;
}

.subtitle {
  margin-top: 30px;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 124%;
  color: #353231;
  &.subtitleDark {
    color: #D2D0D0;
  }
}

.selectCreate {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;

  display: block;
  width: 458px;
  padding: 6px;
  border: 1px solid #ccc;
  &:focus {
    outline: none;
  }
  cursor: pointer;
  &.selectCreateDark {
    border: 1px solid #2D2B2A;
    background-color: #191919;
    color: #D2D0D0;
  }
}

.btnSub {
  width: 350px;
  background-color: #BCB8B8;
  color: #FFF;
  font-size: 16px;
  font-family: 'Furore', sans-serif;
  padding: 15px 30px;
  border: none;
  clip-path: polygon(0 0, calc(100% - 12px) 0, 100% 10px, 100% 100%, 0 100%);
  cursor: pointer;
  &.btnSubDark {
    background-color: #2D2B2A;
  }
}

.inputCreate {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;

  display: block;
  width: 440px;
  padding: 8px;
  border: 1px solid #ccc;
  &:focus {
    outline: none;
  }
  &.inputCreateDark {
    background-color: #191919;
    border: 1px solid #2D2B2A;
    color: #D2D0D0;
  }
}

.inputBox {
  margin-top: 35px;
  margin-right: 60px;
  width: 458px;
}

.labelCreate {
  font-family: 'Furore', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 16px;
  letter-spacing: -0.01em;

  display: block;
  color: #2D2B2A;
  background-color: #dcdcdc;
  padding: 8px;
  clip-path: polygon(0 0, calc(100% - 12px) 0, 100% 10px, 100% 100%, 0 100%);
  &:focus {
    color: #6159FC;
  }
  &.labelCreateDark {
    color: #D2D0D0;
    background-color: #2D2B2A;
  }
}

.optionFirst {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #2D2B2A;
}