.panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panelLink {
  text-decoration: none;
  font-family: 'Furore', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: #BCB8B8;
  margin-right: 40px;
}

.panelRight {
  margin-right: 110px;
}

.title {
  margin-top: 30px;
  font-family: 'Furore', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 116%;
  letter-spacing: -0.01em;
}

.btn {
  margin-top: 20px;
  padding: 8px 12px;
  font-family: 'Furore', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -0.01em;
  border: 1px solid #BCB8B8;
  color: #2D2B2A;
  margin-right: 20px;
  background-color: #F3F2F2;
}

.btnCard {
  margin-top: 20px;
  padding: 8px 12px;
  font-family: 'Furore', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: -0.01em;
  border: 1px solid #BCB8B8;
  color: #6159FC;
  margin-right: 20px;
  background-color: #F3F2F2;
}

.table {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.tr {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.th {
  margin: 15px 200px 15px 0;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 130%;
  letter-spacing: -0.01em;
}

.td {
  margin: 15px 0;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 130%;
  letter-spacing: -0.01em;
}